body {
  margin: 64px auto;
  background-color: white;
  font-family: "Myriad Pro", serif;
  width: 94%;
}

/**
 * Circle Styles
 */
.outer-circle, over-circle {
  position: relative;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  padding: 35px;
  background-color: #E6E7E8;
  z-index: 2
}
.outer-circle hr {
  position: absolute;
  top: 283px;
  width: 569px;
  padding: 0;
  margin: 0 0 0 -35px;
  opacity: 0.35;
  z-index: 1;
}
.progress-circle {
  margin: -33px 0 0 -33px;
  position:absolute;
  width:285px;
  height:570px;
  overflow:hidden;
  left:320px;
  -moz-transform-origin:left center;
  -ms-transform-origin:left center;
  -o-transform-origin:left center;
  -webkit-transform-origin:left center;
  transform-origin:left center;
  border-radius: 50%;
  box-shadow:
          inset 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
          3px 3px 4px rgba(255, 255, 255, 1);
}
.circle {
  position: relative;
  z-index: 3;
  display: table-cell;
  height: 500px;
  width: 500px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-image: linear-gradient(-60deg, #278181, #27BDBC, #78CDD0);

  box-shadow:
          inset 3px 3px 4px rgba(255, 255, 255, 1),
          6px 6px 10px 0 rgba(0, 0, 0, 0.3);

  font-size: 70px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}